DirectoryIndex views/home/home.php

#RewriteRule (\w+\/\w+\.php) /$1 [L]

#RewriteRule ^$ views/home/home.php [L]

<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=60, public"
</filesMatch>

<filesMatch ".(woff2)$">
Header set Cache-Control "max-age=15552000, public"
</filesMatch>