DirectoryIndex views/home/home.html

#RewriteRule \w+(?=.html) /$1 [L]

#RewriteRule ^$ views/home/home.html [L]

<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=60, public"
</filesMatch>