.contact-link {
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    border: 3px solid #002349;
    margin: auto;
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: #002349;
    transition: 0.5s;
    color: white;
    margin-bottom: 20px;
}

.contact-link-image {
    float: left;
    margin-right: 15px;
}

.contact-link-name {
    color: inherit;
    font-size: 1.5em;
    font-family: "inter";
    float: left;
}

.contact-link:hover {
    color: #002349;
    background-color: #FFFFFF;
}