.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #002349;
    height: 60px;
}

.copyright-div {
    float: left;
    padding: 15px;
    padding-left: 10px;
}

.socials-div {
    float: right;
    padding: 10px;
}

.social-link img {
    padding-left: 2px;
    padding-right: 2px;
}
