@font-face {
    font-family: "logo";
    src: url("assets/fonts/inter/variable/InterVariable.woff2") format('woff2');
}

.intro-banner {
    display:inline-block;
    width:100%;
}

.intro-banner-left {
    float: left;
    width: 50%;
}

.intro-banner-right {
    float:right;
}

.img-float-right {
    float: right;
    width: 600px;
    font-size: 4em;
    margin-top: 0.67em;
}

.title {
    color: black;
    font-family: "inter";
    display: block;
    font-size: 4em;
    margin-top: 0.67em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.who-am-i {
    color: black;
    font-family: "inter";
    display: inline-block;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    white-space: pre;
}

.who-am-i-description {
    color: black;
    font-family: "inter";
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title-description {
    color: black;
    font-family: "inter";
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lets-work-together {
    color: inherit;
    font-family: "inter";
    display: inline-block;
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-decoration: none;
}

.expand-anim {
    color: black;
    font-style: italic;
    background: conic-gradient(from 135deg at 50% -10px, black 90deg, transparent 91deg) 50% calc(-3px - 50%) /100% 500% no-repeat;
    transition: 0.6s;
    margin-top: 50px;
    display:inline-block;
}

    .expand-anim:hover {
        color: white;
        background-position: bottom;
    }