@font-face {
    font-family: "inter";
    src: url("../../assets/fonts/inter/static/Inter-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "logo";
    src: url("../../assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf") format('truetype');
}

.intro-banner {
    display:inline-block;
    width:100%;
}

.intro-banner-left {
    float: left;
    width: 50%;
}

.intro-banner-right {
    float:right;
}

.img-float-right {
    float: right;
    width: 600px;
    font-size: 4em;
    margin-top: 0.67em;
}

.expand-underline {
    background: linear-gradient(currentColor 0 0) bottom left/ var(--underline-width, 0%) 0.1em no-repeat;
    display: inline-block;
    text-decoration: none;
    animation-name: expand-ul;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    visibility: visible !important;
    /* New code here: */
    animation-delay: 1s;
}

@keyframes expand-ul {
    0% {
        --underline-width: 0%;
    }

    100% {
        --underline-width: 100%;
    }
}