@font-face {
    font-family: "inter";
    src: url("../../assets/fonts/inter/static/Inter-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "logo";
    src: url("../../assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf") format('truetype');
}

.intro-banner {
    display:inline-block;
}

.intro-banner-left {
    float:left;
}

.intro-banner-right {
    float:right;
}

.img-float-right {
    float:right;
}

.anim-underline {
    background: linear-gradient(currentColor 0 0)
        bottom left/
        var(--underline-width, 0%) 0.1em
        no-repeat;
    display: inline-block;
    padding: 0 .5em 0.2em;
    text-decoration: none;
    transition: background-size 0.5s;
}

.expand-underline {
    background: linear-gradient(currentColor 0 0) bottom left/ var(--underline-width, 0%) 0.1em no-repeat;
    display: inline-block;
    padding: 0 .5em 0.2em;
    text-decoration: none;
    animation-name: expand-ul;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    visibility: visible !important;
    /* New code here: */
    animation-delay: 5s;
}

@keyframes expand-ul {
    0% {
        --underline-width: 0%;
    }

    100% {
        --underline-width: 100%;
    }
}