.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skill-bubble {
    background-color: #002349;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
}

.skill-text {
    width:100%;
}

.skill-rating {
    width:100%;
    margin: auto;
}
