.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skill-bubble {
    background-color: #002349;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
}
