<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <?php include ('../../assets/php/lminfo_head.php'); ?>
</head>
<body>
    <div class="page-container">
        <div class="content-wrap">
            <!--Intro section-->
            <div class="intro-banner">
                <div class="intro-banner-left">
                    <h1 class="lminfo-big-header">Hi, I'm Lily!</h1>
                    <p class="lminfo-p"><i>Software Engineer and Certified LabVIEW Developer</i></p>
                    <!--Who am I?-->
                    <h2 class="lminfo-h2">Who am I?</h2>
                    <p class="lminfo-p">
                        Great to meet you! I'm a software engineer based in <b>Sheffield UK</b>,
                        with experience in <b>bespoke software production</b> for multiple sectors.<br>
                        I have a first class honours degree in electronic engineering and I'm currently working
                        as an <b>MES engineer</b> for a large industrial application.
                    </p>
                </div>
                <div class="intro-banner-right">
                    <img class="img-float-right" src="assets/images/350_placeholder.png" />
                </div>
            </div>

            <div class="spacer-div-double"></div>

            <!--Who am I?-->
            <h2 class="lminfo-h2">I look forward to working with you!</h2>

            <!--Navigation links-->
        </div>
    </div>
</body>
</html>