* {
    box-sizing: border-box;
}

@font-face {
    font-family: "inter";
    src: url("../../assets/fonts/inter/static/Inter-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "logo";
    src: url("../../assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf") format('truetype');
}

.intro-div {
    width: 80%;
    margin: auto;
}