* {
    box-sizing: border-box;
}

@font-face {
    font-family: "inter";
    src: url("../fonts/inter/static/Inter-Regular.ttf") format('truetype');
}

.lminfo-h1 {
    color: black;
    font-family: "inter";
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lminfo-h2 {
    color: black;
    font-family: "inter";
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lminfo-h3 {
    color: black;
    font-family: "inter";
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lminfo-h4 {
    color: black;
    font-family: "inter";
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lminfo-p {
    color: black;
    font-family: "inter";
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lminfo-p-white {
    color: white;
    font-family: "inter";
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
