* {
    box-sizing: border-box;
}

@font-face {
    font-family: "inter";
    src: url("../fonts/inter/static/Inter-Regular.ttf") format('truetype');
}

.lminfo-h1 {
    color: black;
    font-family: "inter";
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.lminfo-h2 {
    color: black;
    font-family: "inter";
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.lminfo-h3 {
    color: black;
    font-family: "inter";
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.lminfo-h4 {
    color: black;
    font-family: "inter";
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.lminfo-p {
    color: black;
    font-family: "inter";
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lminfo-p-white {
    color: white;
    font-family: "inter";
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.spacer-div-single {
    height:20px;
}

.spacer-div-double {
    height: 40px;
}

.lminfo-big-header {
    color: black;
    font-family: "inter";
    display: block;
    font-size: 4em;
    margin: 0;
    font-weight: bold;
}