@font-face {
    font-family: "inter";
    src: url("../fonts/inter/static/Inter-Regular.ttf") format('truetype');
}

.lminfo-h1 {
    color: black;
    font-family: "inter";
}

.lminfo-h2 {
    color: black;
    font-family: "inter";
}

.lminfo-h3 {
    color: black;
    font-family: "inter";
}

.lminfo-h4 {
    color: black;
    font-family: "inter";
}

.lminfo-p {
    color: black;
    font-family: "inter";
}