<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/lminfo_styles.css">
    <link rel="stylesheet" href="views/footer/footer.css">
    <title></title>
</head>
<body>
    <footer>
        <div class="footer">
            <p class="lminfo-p-white">Lily Maxfield 2024</p>
            <div class="socials">
                <a class="social-link"><img /></a>
            </div>
        </div>
    </footer>
</body>
</html>