@font-face {
    font-family: "inter";
    src: url("../fonts/inter/static/Inter-Regular.ttf") format('truetype');
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 30px;
    font-size: 30px;
}

.navlinks {
    color: gray;
    text-decoration-line: none;
    font-size: 1.5em;
    font-family: "inter";
}

.socials {
    line-height: 0;
    font-size: 0;
    color: transparent;
}

.site-logo {
    color: gray;
    text-decoration-line: none;
    font-size: 1.8em;
    font-family: "inter";
}