<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/lminfo_styles.css">
    <link rel="stylesheet" href="views/header/header.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="https://lilymaxfield.info" class="logo">
                Lily Maxfield
            </a>
        </div>
        <div class="header-navlinks">
            <a href="https://lilymaxfield.info/experience" class="navlinks">
                Experience
            </a>
            <a href="https://lilymaxfield.info/skills" class="navlinks">
                Skills
            </a>
            <a href="https://lilymaxfield.info/portfolio" class="navlinks">
                Portfolio
            </a>
            <a href="https://lilymaxfield.info/contact" class="navlinks">
                Contact
            </a>
        </div>
    </header>
</body>
</html>