@font-face {
    font-family: "inter";
    src: url("../fonts/inter/static/Inter-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "logo";
    src: url("../fonts/inter/Inter-VariableFont_slnt,wght.ttf") format('truetype');
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
}

.navlinks {
    color: gray;
    text-decoration-line: none;
    font-size: 1.0em;
    font-family: "inter";
}

.socials {
    line-height: 0;
    font-size: 0;
    color: transparent;
}

.site-logo {
    color: gray;
    text-decoration-line: none;
    font-size: 1.2em;
    font-family: "logo";
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}