<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../assets/css/lminfo_styles.css">
    <link rel="stylesheet" href="experience.css">

    <title>Lily Maxfield - MES Engineer</title>

    <meta name="description" content="Personal Portfolio, CV and Contact Details." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Lily Maxfield - Personal Portfolio" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Lily Maxfield - MES Engineer" />
    <meta property="og:description" content="Personal Portfolio, CV and Contact Details." />
    <meta property="og:url" content="https://lilymaxfield.info/" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../../components/jquery-3.7.1.slim.min.js"></script>

    <!--Loading header and footer from external files-->
    <script>
        $(function () {
            $.ajax({
                type: "GET",
                url: "../header/header.html",
                dataType: "html",
                success: function (answer) {
                    $("body").prepend(answer);
                },
                error: function () {
                    alert("Failed header AJAX call.");
                }
            });
            return false;
        });
        $(function () {
            $.ajax({
                type: "GET",
                url: "../footer/footer.html",
                dataType: "html",
                success: function (answer) {
                    $("body").append(answer);
                },
                error: function () {
                    alert("Failed footer AJAX call.");
                }
            });
            return false;
        });
    </script>
</head>
<body>
    <div class="body-content">
        <h1 class="lminfo-h1">Experience</h1>

        <div class="spacer-div-single"></div>

        <p class="lminfo-p">Placeholder text about experience.</p>

        <div class="spacer-div-single"></div>

        <!--Experience-->
        <div class="lminfo-callout-container">
            <div class="lminfo-callout">
                <!--Vaillant Group-->
                <div>
                    <div class="lminfo-callout-title">
                        <p>Vaillant Group</p>
                    </div>
                    <div class="lminfo-callout-date">
                        <p>2023 - Present</p>
                    </div>
                </div>
                <div class="lminfo-callout-details">
                    <ul>Placeholder text.</ul>
                    <ul>Placeholder text.</ul>
                    <ul>Placeholder text.</ul>
                </div>
            </div>
            <div class="spacer-div-single"></div>
            <div class="lminfo-callout">
                <!--Austin Consultants-->
                <div>
                    <div class="lminfo-callout-title">
                        <p>Austin Consultants</p>
                    </div>
                    <div class="lminfo-callout-date">
                        <p>2022 - 2023</p>
                    </div>
                </div>
                <div class="lminfo-callout-details">
                    <ul>Placeholder text.</ul>
                    <ul>Placeholder text.</ul>
                    <ul>Placeholder text.</ul>
                </div>
            </div>
            <div class="spacer-div-single"></div>
            <div class="lminfo-callout">
                <!--Wath Group-->
                <div>
                    <div class="lminfo-callout-title">
                        <p>Wath Group</p>
                    </div>
                    <div class="lminfo-callout-date">
                        <p>2021 - 2022</p>
                    </div>
                </div>
                <div class="lminfo-callout-details">
                    <ul>Placeholder text.</ul>
                    <ul>Placeholder text.</ul>
                    <ul>Placeholder text.</ul>
                </div>
            </div>
            <div class="spacer-div-single"></div>
            <div class="lminfo-callout">
                <!--TBG Solutions-->
                <div>
                    <div class="lminfo-callout-title">
                        <p>TBG Solutions</p>
                    </div>
                    <div class="lminfo-callout-date">
                        <p>2018 - 2019</p>
                    </div>
                </div>
                <div class="lminfo-callout-details">
                    <ul>Placeholder text.</ul>
                    <ul>Placeholder text.</ul>
                    <ul>Placeholder text.</ul>
                </div>
            </div>
            <div class="spacer-div-single"></div>
            <div class="lminfo-callout">
                <!--Sheffield Hallam University-->
                <div>
                    <div class="lminfo-callout-title">
                        <p>Sheffield Hallam University</p>
                    </div>
                    <div class="lminfo-callout-date">
                        <p>2016 - 2020</p>
                    </div>
                </div>
                <div class="lminfo-callout-details">
                    <ul>Placeholder text.</ul>
                    <ul>Placeholder text.</ul>
                    <ul>Placeholder text.</ul>
                </div>
            </div>
            <div class="spacer-div-single"></div>
        </div>
    </div>
</body>
</html>